:root {
  /* SITE COLORS */
  --almost-black: #0c161a;          /* bg, text */
  --almost-almost-black: #152a33;   /* hover highlights */
  --medium-dark: #08323f;           /* footer, inputs */
  --medium-dark-45: #08323f45;      /* translucent hero bg */
  --medium: #054459;                /* navbar outline */
  --medium-72: #05445972;           /* navbar bg */
  --medium-af: #054459af;           /* navbar bg (hover) */
  --bright: #42d1ff;                /* links, buttons */
  --bright-45: #42d1ff45;           
  --light: #5191a6;                 /* secondary text, mobile navbar divider */
  --indigo: #6b5fbf;                /* accent color */
  --indigo-45: #6b5fbf45;           
  --red: #eb4034;                   /* active links & buttons */
  --red-45: #eb403445;              
  --sage: #7bbf6a;                  /* accent color */
  --sage-45: #7bbf6a45;             
  --dark-gray: #6c8a94;             /* captions */
  --gray: #9eb8c0;                  /* scrollbar thumb (if supported) */
  --white: #ffffff;                 /* text, button hover */
  --white-22: #ffffff22;            /* mobile navbar toggle */
}

html,
body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  background-color: var(--almost-black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  scrollbar-color: var(--gray) transparent;
  scrollbar-width: thin;
}

body {
  position: relative; /* for backgound circles to work properly */
}

/* GLOBAL STYLES */

main {
  background-color: var(--almost-black);
}

.content {
  width: 70vw;
  margin: 0 auto 40px auto;
}

h1 {
  margin: 0;
  padding: 100px 0 10px 0;
  font-size: 2.3em;
  font-weight: 600;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 50px 0 25px 0;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 30px 0 10px 0;
}

.subtitle {
  font-size: 0.8em;
  color: var(--light);
}

.info-grid-3 {
  display: grid;
  margin-top: 40px;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.info-grid-3 h1, .info-grid-3 h2, .info-grid-3 .subtitle {
  padding: 0 0 10px 0;
  text-align: left;
}

.span-2 {
  grid-column: span 2;
}

.text {
  padding-top: 10px;
  font-size: 1em;
  line-height: 1.45em;
}

.text.small {
  font-size: 0.8em;
}

a {
  transition: color 0.2s;
}

.text a {
  color: var(--bright);
}

.text a:hover {
  color: var(--white);
}

a.white-link {
  color: var(--white);
}

a.white-link:hover {
  color: var(--bright);
}

a.link-with-chevron {
  display: inline-flex;
  text-decoration: none;
  gap: 3px;
}

a.link-with-chevron .link-text {
  text-decoration: underline;
}

.link-chevron {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s;
}

a:hover .link-chevron {
  transform: translateX(5px);
}

.content img {
  border-radius: 14px;
  object-fit: cover;
}

.caption {
  font-size: 0.8em;
  color: var(--dark-gray);
}

.centered {
  text-align: center;
}

.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 20px;
  padding: 8px 20px;
  border: 1px solid var(--medium);
  border-radius: 14px;
  background-color: var(--bright);
  font-family: inherit;
  font-size: 0.9em;
  color: var(--almost-black);
  transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
}

button:hover {
  background-color: var(--white);
  color: var(--medium-dark);
  cursor: pointer;
  border-radius: 6px;
}

input,
textarea {
  margin-top: 20px;
  padding: 10px;
  font-family: inherit;
  font-size: 0.9em;
  width: 100%;
  border: 1px solid var(--medium);
  border-radius: 10px;
  background-color: var(--medium-dark);
  color: var(--white);
  transition: background-color 0.2s, border-radius 0.2s;
}

input:focus,
textarea:focus {
  border-radius: 0;
  background-color: var(--almost-black);
}

input::placeholder,
textarea::placeholder {
  color: var(--light);
}

/* SCROLLBAR STYLES (WEBKIT BROWSERS ONLY AS OF 2025) */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 4px;
}

/* NAVBAR, FOOTER */

.top {
  font-size: 1px;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: grid;
  width: calc(100vw - 60px);
  margin: 16px;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid var(--medium);
  background-color: var(--medium-72);
  backdrop-filter: blur(30px);
  transition: padding 0.4s, margin 0.4s, border-radius 0.4s, background-color 0.4s;
}

.navbar:hover {
  margin: 8px;
  padding: 22px;
  border-radius: 20px;
  background-color: var(--medium-af);
}

.nav-logo {
  display: none;
  margin-left: 14px;
  font-size: 1.25em;
  font-weight: 600;
  color: var(--bright);
  text-decoration: none;
  transition: font-size 0.4s, opacity 0.4s;
}

.nav-toggle {
  display: none;
  margin: 0;
  align-self: start;
  align-items: center;
  justify-content: center;
  background-color: var(--white-22);
  border: 1px solid var(--medium);
  color: var(--white) !important;
  font-size: 1.25em;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-toggle:hover {
    background-color: var(--white-33);
    border-radius: 8px;
  }

.nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  font-size: 1em;
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: var(--bright);
}

.nav-links a:active {
  color: var(--red);
}

.footer {
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid var(--medium);
  background-color: var(--medium-dark);
  font-size: 0.8em;
  text-align: center;
}

/* SPECIFIC STYLES */

/* /index.html */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: var(--medium-dark-45);
  backdrop-filter: blur(100px);
  pointer-events: none; /* enable interaction with background circles */
}

.hero>* {
  pointer-events: auto; /* re-enable interaction with hero content */
}

.hero-title {
  font-size: clamp(2em, calc(3vh + 3vw), 4em);
  font-weight: 600;
  text-shadow: 0 0 5vh var(--almost-black);
}

.hero-subtitle {
  font-size: clamp(1em, calc(1.5vh + 1.5vw), 2em);
  font-weight: 450;
  color: var(--bright);
  text-shadow: 0 0 3vh var(--almost-black);
}

.hero-button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero-button {
  margin: 0;
  width: 200px;
  border-radius: calc(8px + 1.2em);
}

.hero-button-divider {
  z-index: 1; /* make sure divider doesn't mess up blur on buttons */
  width: 1.25px;
  background-color: var(--white);
}

.bouncy-circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: auto;
  transition: transform 0.3s ease;
}

.bouncy-circle:hover {
  transform: scale(1.4);
}

/* /404.html */

.error-404-illustration {
  padding-top: 85px;
  width: 80%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* /contact.html */
/* these styles not currently in use; no contact form on page */

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

.submit {
  grid-column: 1 / span 2;
}

.submit:active {
  background-color: var(--red);
  color: var(--almost-black);
}

/* /projects.html */

.project-card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
  }

.project-card {
  padding: 20px;
  border-radius: 20px;
  min-width: 25vw;
}

.project-card h3 {
  padding: 5px 0 0 0;
}

.project-card.malcolmwood-me {
  background-color: var(--red-45);
  border: 1px solid var(--red);
}

.project-card.malcolmwood-me .subtitle {
  color: var(--red);
}

.project-card.unfinished-repos {
  background-color: var(--bright-45);
  border: 1px solid var(--bright);
}

.project-card.unfinished-repos .subtitle {
  color: var(--bright);
}

.project-card.for-president {
  background-color: var(--indigo-45);
  border: 1px solid var(--indigo);
}

.project-card.for-president .subtitle {
  color: var(--indigo);
}

.project-card.barium-project {
  background-color: var(--sage-45);
  border: 1px solid var(--sage);
}

.project-card.barium-project .subtitle {
  color: var(--sage);
}

/* /projects/malcolmwood.me.html */

.about-website-card {
  margin-top: 85px;
  padding: 40px;
  border-radius: 14px;
  background-image: url(/assets/images/about-website-banner.png);
  background-size: cover;
  background-position: right;
}

.about-website-card *:first-child {
  padding: calc(0.5 * calc(100vh - 300px)) 0 0 0;
}

.about-website-card h1 {
  margin: 0;
  padding: 0;
  font-size: clamp(2em, calc(3vh + 3vw), 4em);
}

.about-website-card .subtitle {
  font-size: clamp(1em, calc(1.5vh + 1.5vw), 2em);
  color: var(--white-cc);
  font-weight: 450;
}

 .about-website-card h1, .about-website-card .subtitle {
  padding: 10px 0 0 0;
  text-align: left;
  text-shadow: 0 0 5px var(--medium-dark);
}

/* MOBILE LAYOUT */

@media screen and (max-width: 700px) {

  .navbar:hover {
    margin: 16px;
    padding: 14px;
    border-radius: 14px;
    background-color: var(--medium-72);
  }

  @keyframes expandMenu {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes expandNavbar {
    from {
      transform: scaleY(0.6);
      transform-origin: top;
    }

    to {
      transform: scaleY(1);
      transform-origin: top;
    }
  }

  @keyframes compressNavbar {
    from {
      transform: scaleY(calc(10 / 6));
      transform-origin: top;
    }

    to {
      transform: scaleY(1);
      transform-origin: top;
    }
  }

  .navbar.expanded {
    height: auto;
    animation: expandNavbar 0.4s;
  }

  .navbar.expanded .nav-links ul {
    display: flex;
    animation: expandMenu 0.4s;
    padding-left: 20px;
    margin-top: 5px;
  }

  .navbar {
    display: flex;
    align-items: center;
    background-color: var(--medium-72);
  }

  .navbar.normal {
    animation: compressNavbar 0.4s;
  }

  .nav-toggle {
    display: inline-flex;
  }

  @keyframes fixToggleExpand {
    from {
      transform: scaleY(calc(10 / 6));
      transform-origin: top;
      margin-top: 5.6px;
    }

    to {
      transform: scaleY(1);
      transform-origin: top;
      margin-top: 0;
    }
  }

  @keyframes fixToggleCompress {
    from {
      transform: scaleY(0.6);
      transform-origin: top;
      margin-top: -5.6px;
    }

    to {
      transform: scaleY(1);
      transform-origin: top;
      margin-top: 0;
    }
  }

  /* make toggle not get skewed when navbar expands */
  .navbar.expanded .nav-toggle {
    animation: fixToggleExpand 0.4s;
  }

  .navbar.normal .nav-toggle {
    animation: fixToggleCompress 0.4s;
  }

  .nav-logo {
    display: inline;
  }

  .navbar.expanded .nav-logo {
    opacity: 0;
    font-size: 0;
    position: absolute;
  }

  .nav-links {
    width: 100%;
  }

  .nav-links ul {
    display: none;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .nav-links a:hover {
    background-color: rgba(66, 209, 255, 0.06);
    color: var(--bright);
  }

  .content {
    width: 90vw;
  }

  .content img {
    width: 70vw;
    height: auto;
    margin: 0 auto;
  }

  .desktop-only {
    display: none;
  }

  .info-grid-3 {
    grid-template-columns: auto;
  }

  .span-2 {
    grid-column: span 1;
  }

  .hero-button-container {
    flex-direction: column;
    gap: 0;
  }

  .hero-button {
    width: calc(100vw - 32px);
    background-color: var(--medium-72);
    backdrop-filter: blur(30px);
    color: var(--white);
  }

  .hero-button:first-child {
    border-radius: 14px 14px 0 0;
  }

  .hero-button:last-child {
    border-radius: 0 0 14px 14px;
  }

  .hero-button-divider {
    height: 0;
    width: calc(100% - 24px);
    margin: 0 auto;
    outline: 1.25px solid var(--light);
  }

  .project-card-wrapper {
    flex-direction: column;
  }

  .about-website-card {
    margin-top: 100px;
    padding: 5vw;
    background-position: center;
  }
}